<%= simple_form_for(@blog) do |f| %>
<%= f.error_notification %>
<div class="field">
  <div class="control">
    <%= f.input :blog, label: "Comment it", input_html: {class: "textarea"},
      wrapper: false, label_html: {class: "label"}, placeholder: "Give us comment" %>
  </div>
</div>
<%= f.button :submit, class: "button is-info" %>
<% end %>